<footer class="footer">
  <div class="container">
    <div class="foot-top-div">
      <h2 class="foot-header">
        <span class="accent">Chocolate</span> a delicious cure for a bad day
      </h2>
      <div class="foot-contact-div">
        <div>
          <p class="foot-contact-paragraph">Contact us</p>
          <address class="foot-address">
            <ul class="foot-address-list list">
              <li>
                <a class="link foot-address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
              </li>
              <li>
                <a class="link foot-address-link" href="mailto:simplychoc@gmail.com"
                  >simplychoc@gmail.com</a
                >
              </li>
            </ul>
          </address>
        </div>
        <div class="foot-social-media">
          <ul class="foot-social-media-list">
            <li class="foot-social-icon list">
              <a class="link foot-social-link" href="">
                <svg class="foot-social-svg" width="" height="">
                  <use href="./images/icons.svg#instagram" />
                </svg>
              </a>
            </li>
            <li class="foot-social-icon list">
              <a class="link foot-social-link" href="">
                <svg class="foot-social-svg" width="16" height="16">
                  <use href="./images/icons.svg#twitter" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="foot-line" />
    <ul class="foot-nav-list list">
      <li><a class="link foot-nav-link" href="./index.html">Home</a></li>
      <li>
        <a class="link foot-nav-link" href="#How-its-made">How it’s made?</a>
      </li>
      <li>
        <a class="link foot-nav-link" href="#Our-products">Our products</a>
      </li>
      <li>
        <a class="link foot-nav-link" href="#Top-sellers">Top sellers</a>
      </li>
      <li>
        <a class="link foot-nav-link" href="#Chocolate-is-loved">Chocolate is loved</a>
      </li>
    </ul>
  </div>
</footer>
