<section class="hero-container-first hero-body hero-background">
    <div class="hero-container">
        <h1 class="hero-visually-hidden">hidden</h1>
        <h2 class="hero-text">Treat yourself or a loved one
            to our finest ingredients for a moment of pure delight!</h2>
        <div class="hero-tablet">
            <div>
                <button data-modal-buy1-open type="button" class="hero-button hero-button-margin">Buy now</button>
                <button type="button" class="hero-button">How its made</button>
            </div>
            <div class="hero-scroll">
                <p class="hero-scroll-text">scroll down</p>
                <button type="button" class="hero-icon">
                    <svg class="hero-icon-trans" width="16" height="16">
                        <use href="./images/icons.svg#scroll-down"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>