<section class="hero">
    <div class="container hero-background">
        <h1 class="visually-hidden">hidden</h1>
        <h2 class="hero-text">Treat yourself or a loved one
            to our finest ingredients for a moment of pure delight!</h2>
        <div class="hero-tablet">
            <div class="hero-buttons">
                <button data-modal-buy1-open type="button" class="btn btn-accent hero-button-buy hero-button-margin">Buy
                    now</button>
                <button type="button" class="btn btn-outln hero-button-buy">How it's made</button>
            </div>
            <div class="hero-scroll">
                <p class="hero-scroll-text">scroll down</p>
                <button type="button" class="hero-icon">
                    <a href="#Footer" class="link">
                        <svg class="hero-icon-trans" width="16" height="16">
                            <use href="./images/icons.svg#scroll-down"></use>
                        </svg>
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>