<section id="Top-sellers" class="top-sellers container">
  <h2 class="section-title">
    <a class="link"><span class="accent">TOP</span> SELLERS</a>
  </h2>
  <div class="top-content-div">
    <ul class="top-list">
      <li class="top-li">
        <picture>
          <source
            media="screen and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx))"
            srcset="./images/top-sellers/mob-coffee-dark-chocolate-335x464@2x.jpg"
            size=""
          />
          <source
            media="screen and (min-width: 768px)"
            srcset="./images/top-sellers/tab-coffee-dark-chocolate-344x464.jpg"
            size=""
          />
          <source
            media="screen and (min-width: 768px) and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx))"
            srcset="./images/top-sellers/tab-coffee-dark-chocolate-344x464@2x.jpg"
            size=""
          />
          <source
            media="screen and (min-width: 1200px)"
            srcset="./images/top-sellers/des-coffee-dark-chocolate-368x464.jpg"
            size=""
          />
          <source
            media="screen and (min-width: 1200px) and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx))"
            srcset="./images/top-sellers/des-coffee-dark-chocolate-368x464@2x.jpg"
            size=""
          />
          <img
            class="top-images"
            src="./images/top-sellers/mob-coffee-dark-chocolate-335x464.jpg"
            alt=""
          />
        </picture>

        <p class="top-paragraph">
          Crazy enough chocolate originates from a bean just like the coffee bean called Cacao.
          Cacao has been around for thousands of years and was first discovered by the Native
          American tribe called the Mayans.
        </p>
      </li>
      <li class="top-li">
        <picture>
          <source
            media="screen and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx))"
            srcset="./images/top-sellers/mob-fruits-hazelnuts-milk-chocolate-335x464@2x.jpg"
            size=""
          />
          <source
            media="screen and (min-width: 768px)"
            srcset="./images/top-sellers/tab-fruits-hazelnuts-milk-chocolate-344x464.jpg"
            size=""
          />
          <source
            media="screen and (min-width: 768px) and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx))"
            srcset="./images/top-sellers/tab-fruits-hazelnuts-milk-chocolate-344x464@2x.jpg"
            size=""
          />
          <source
            media="screen and (min-width: 1200px)"
            srcset="./images/top-sellers/des-fruits-hazelnuts-milk-chocolate-368x464.jpg"
            size=""
          />
          <source
            media="screen and (min-width: 1200px) and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx))"
            srcset="./images/top-sellers/des-fruits-hazelnuts-milk-chocolate-368x464@2x.jpg"
            size=""
          />
          <img
            class="top-images"
            src="./images/top-sellers/mob-fruits-hazelnuts-milk-chocolate-335x464.jpg"
            alt=""
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="screen and (min-width: 1200px) and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx))"
            srcset="./images/top-sellers/des-chocolate-bars-368x464@2x.jpg"
            size=""
          />
          <img
            class="top-images top-last-photo"
            src=" ./images/top-sellers/des-chocolate-bars-368x464.jpg"
            alt=""
          />
        </picture>
      </li>
    </ul>
    <div class="top-button-div">
      <button data-modal-buy2-open class="btn btn-accent btn-41 top-button" type="button">
        Buy now
      </button>
    </div>
  </div>
</section>
