/* style rozpoczynają się od .hero- */
:root {
  --tr-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --tr-duration: 250ms;
}
/* ================================================= MOBILE 👇 ========================================= */
@media screen and (max-width: 767px) {
  .hero {
    display: flex;
    justify-content: center;
    padding: 0 32px;
  }
  .hero-background {
    display: block;
    padding: 395px 22px 21px 20px;
    background-image: url(../images/hero/mob-hero-335x621.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 0 71px;
    border-radius: 30px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-background {
      background-image: url(../images/hero/mob-hero-335x621@2x.jpg);
    }
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-text {
    color: var(--WHITE);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 310px;
  }
  .hero-buttons {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    padding-top: 32px;
  }
  .hero-button-buy {
    padding: 12px 28px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    border-radius: 100px;
  }
  @media screen and (max-width: 391px) {
    .hero-button-buy {
      padding: 12px 28px;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.04em;
      line-height: 1.5;
      border-radius: 100px;
    }
  }
  .hero-scroll {
    padding-top: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }
  .hero-scroll-text {
    color: var(--WHITE);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 310px;
  }
  .hero-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--ACCENT-LIGH);
    border: 1px solid var(--ACCENT-LIGH);
    padding: 0;
    cursor: pointer;
    transition: background-color, fill;
    transition-timing-function: var(--tr-fn);
    transition-duration: var(--tr-duration);
  }
  .hero-icon:hover,
  .hero-icon:focus {
    background-color: var(--ACCENT);
    border-color: var(--ACCENT);
  }

  .hero-icon-trans {
    fill: var(--ACCENT);
  }
  .hero-icon:hover .hero-icon-trans {
    fill: var(--WHITE);
    transition-timing-function: var(--tr-fn);
    transition-duration: var(--tr-duration);
  }
  .hero-icon:focus .hero-icon-trans {
    fill: var(--WHITE);
    transition-timing-function: var(--tr-fn);
    transition-duration: var(--tr-duration);
  }
}
/* ================================================= TABLET 👇 ========================================= */
@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    justify-content: center;
    padding: 0 32px;
  }
  .hero-background {
    padding: 671px 40px 40px;
    background-image: url(../images/hero/tab-hero-704x890.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0 50px;
    border-radius: 30px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-background {
      background-image: url(../images/hero/tab-hero-704x890@2x.jpg);
    }
  }
  .hero-container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-tablet {
    display: flex;
    justify-content: space-between;
  }
  .hero-text {
    padding-bottom: 32px;
    color: var(--WHITE);
    font-weight: 500;
    font-size: 28px;
    line-height: 1.07;
    letter-spacing: 0.03em;
    max-width: 484px;
  }
  .hero-buttons {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
  }
  .hero-button-buy {
    padding: 12px 28px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    border-radius: 100px;
  }
  .hero-scroll {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
  }
  .hero-scroll-text {
    color: var(--WHITE);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 310px;
  }
  .hero-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--ACCENT-LIGH);
    border: 1px solid var(--ACCENT-LIGH);
    padding: 0;
    cursor: pointer;
    transition: background-color, fill;
    transition-timing-function: var(--tr-fn);
    transition-duration: var(--tr-duration);
  }
  .hero-icon:hover,
  .hero-icon:focus {
    background-color: var(--ACCENT);
    border-color: var(--ACCENT);
  }
  .hero-icon-trans {
    fill: var(--ACCENT);
  }
  .hero-icon:hover .hero-icon-trans {
    fill: var(--WHITE);
    transition-timing-function: var(--tr-fn);
    transition-duration: var(--tr-duration);
  }
  .hero-icon:focus .hero-icon-trans {
    fill: var(--WHITE);
    transition-timing-function: var(--tr-fn);
    transition-duration: var(--tr-duration);
  }
}
/* ============================================ DESKTOP 👇 ========================================*/
@media screen and (min-width: 1200px) {
  .hero-background {
    padding: 381px 40px 40px;
    background-image: url(../images/hero/des-hero-1136x600.jpg);
    margin: 0 0 50px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-background {
      background-image: url(../images/hero/des-hero-1136x600@2x.jpg);
    }
  }
}
