/* oprócz klasy .how-its-made pozostałe style rozpoczynają się od .how- */
/* ====== desktop version ======*/
.how-section {
  display: flex;
  width: 1136px;
  height: 476px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex-shrink: 0;
  padding-bottom: 128px;
}
.how-conteiner {
  padding-left: 32px;
  padding-right: 32px;
}
.how-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.how-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.how-box-video {
  width: 600px;
  height: 400px;
}  
.how-video {
  width: 600px;
  height: 400px;
  margin-bottom: 0px;
  
  border-radius: 15px;
  margin-bottom: 20px;
}
.how-description {
  background: var(--WHITE);
  border-radius: 15px;
  width: 516px;
  height: 400px;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;

}
.how-list {
  height: auto;
}
.how-list-text {
  width: 452px;
  margin-bottom: 24px;
}


