/* oprócz klasy .products pozostałe style rozpoczynają się od .prod- */
.prod-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}
.prod-box {
    align-self: flex-start;
}
.prod-list {
	gap: 18px;
	overflow: hidden;
}
.prod-list-item {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
    flex-direction: column;
	flex-shrink: 0;
	width: 335px;
    padding: 32px 52px;
    background-color: var(--WHITE);
    border: 1px solid rgba(17, 17, 17, 0.10);
    border-radius: 15px;
	text-align: center;
}
.prod-item-img {
    margin: 0 auto;
}
.prod-item-title {
    display: block;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; 
}
.prod-item-txt {
    display: block;
    margin-bottom: 18px;
}
.prod-btn-price {
    height: 33px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
}
.prod-list-dots {
    gap: 13px;
}
.prod-dot-item-svg {
    width: 13px;
    height: 13px;
    fill: rgba(17, 17, 17, 0.10);
}
.prod-dot-item-svg.long {
    width: 28px;
    height: 13px;
    fill: var(--ACCENT);
}
@media screen and (min-width: 768px) {
    .prod-container {
        margin-bottom: 100px;
    }
    .prod-list-item {
        width: 270px;
        padding: 32px 20px;
    }
}
@media screen and (min-width: 1200px) {
    .prod-container {
        margin-bottom: 128px;
    }
}